<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>


<main class="container">
    {% block content %}
    {% endblock %}
</main>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>

