<main class="main-container width-container">
<section class="search">

        <h2 class="visually-hidden">Блок поиска гостиницы в Седоне</h2>

              {% for booking in booking %}
        <p>{{booking.first_content}}</p>
        <p>{{booking.second_content}}</p>
    {% if message %}
                <p>{{ message }}</p>
              {% endif %}
    {%endfor%}
        <button class="button button-form-show" type="button">Бронирование гостиницы</button>
        <section class="modal">

          {% include 'feedback.html' %}
        </section>
      </section>


      <section class="map">
        <h2 class="visually-hidden">Карта с указанием местоположения городка Седона</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d839628.306850027!2d-111.75294857414956!3d34.710272691834135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da132f942b00d%3A0x5548c523fa6c8efd!2z0KHQtdC00L7QvdCwLCDQkNGA0LjQt9C-0L3QsCA4NjMzNiwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1602518012667!5m2!1sru!2sru"
          width="1200" height="594" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
      </section>
    </main>