{% load static %}
<header class="width-container">
      <nav class="main-navigation">
        <a class="main-header-logo">
          <img src="{% static 'img/logo.svg' %}" width="138" height="70" alt="Логотип сайта Седона. City of Sedona.">
        </a>
 <ul class="site-navigation">
            {% for menu_item in menus.header_menu %}
            <li >
                <a href="{{ menu_item.get_link }}">{{ menu_item.title }}</a>
            </li>
            {% endfor %}
        </ul>
      </nav>
    </header>