<main class="main-container width-container">

      <h1 class="visually-hidden">Городок Седона</h1>

      <section class="main-banner">
        <h2 class="visually-hidden">Приветственный баннер</h2>
        <p class="visually-hidden">Добро пожаловать в великолепную Седону! Потому что Гранд Каньон - отстой!</p>
      </section>
    </main>
