<section class="features">
        <h2 class="visually-hidden">Блок преимуществ</h2>
        <div class="features-title">
          <p>{{ reason_1.first_title }}</p>
          <p>{{ reason_1.main_title }}</p>
        </div>
        <ul class="features-list">
          <li class="feature-item-1">
            <div class="feature-item feature-main-city">
              <h3>{{ reason_1.title }}</h3>
              <p>&ndash;&emsp13;№{{ reason_1.number }}&emsp13;&ndash;</p>
              <p>{{ reason_1.content }}</p>
            </div>
            <ul class="recommendations-list">
              {% for recommendation in recommendations %}
              <li class="recommendation-item">
                <h4> {{ recommendation.title }} </h4>
                        <p> {{ recommendation.content }} </p>
                    </li>
                    {% endfor %}
            </ul>
          </li>
          <li class="feature-item-2">
            <div class="feature-item feature-main-bridge">
              <h3>{{ reason_2.title }}</h3>
              <p>&ndash;&emsp13;№{{ reason_2.number }}&emsp13;&ndash;</p>
              <p>{{ reason_2.content }}</p>
            </div>
          </li>
          {% for reason in reason_3_to_5 %}
          <li class="feature-item feature-standart">
            <h3>{{ reason.title }}</h3>
            <p>&ndash;&emsp13;№{{ reason.number }}&emsp13;&ndash;</p>
            <p>{{ reason.content }}</p>
         </li>
            {% endfor %}
        </ul>
    </section>